<html>
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link href="landing.css" rel="stylesheet" type="text/css">
</head>

<body background>
    <div class="container text-center">
        <div class = "maintext" id="block">
            <h1>Welcome to Moodplayer!</h1>
            <h2>Please enter your Spotify username</h2>
        </div>
    </div>
    <div class="username text-center">
        <form target="_blank" action="http://localhost:3000/login/?param1=mood;
        BQDyBPAil7-TLfD3Yhp84dLifVfUfAhXQXk-TXtD_8XmDeHouhQlmykZmOkm5KUIpaTo549Plc-_fVq7Ai4wk9gFTON3NsUuQ99ZWH43Bj1mTohxXaoA3yvKEok49Bb3nMCxkBvwPx7LLj4ugo_Eo1IptUg000HkXWsyMtaifDXRojWK2XFgf-NWuMtJ-Z2u2ZQpUpvyff5J1N_89Wl1YjqUEr_mhiImZOpjpw" methods="POST">
        <input type="text" placeholder="Spotify Username" required>
        <button type="submit">Submit</button>
        </form>
    </div>
</body>

</body>
</html>