
<div class="main_block">
<h1>Welcome to Moodplayer!</h1>
    <p>Please input a mood from 0.0 to 1.0</p>
    <p>(0.0 = negative, 1.0 = positive)</p>
</div>

<form>
        <!--<a href="/generateplaylist">Generate Playlist</a>-->
        <!--<input type="button" value="Generate your Mood Playlist!" onclick="window.location.href='{{mood_playlist}}'"/>-->
</form>

<form method="POST" action="/generateplaylist">
    <input id="mood" type="text" name="text">
    <input type="submit" /> 
</form>

<button type="button" onClick="clickHandler()">Generate Playlist!</button>
<script>
    async function clickHandler() {
      const params = {
        method: "POST", 
        body: JSON.stringify({"mood": document.getElementById("mood").value}),
        headers: {"Content-Type": "application/json"},
        credentials: "include"

      }
      const response = await fetch("http://localhost:5000/generateplaylist", params);
      // do something with the response, or console.log for now
      console.log(".2")
    }
</script> 